[Unit]
Description=Pico-Foxweb Server
After=network.target

[Service]
ExecStart=/APP/PICOFoxweb/bin/PICOFoxweb 8080
WorkingDirectory=/APP/PICOFoxweb/bin
KillMode=control-group
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target