[Unit]
Description=Pico-Foxweb Server
After=network.target

[Service]
ExecStart=/usr/local/sbin/PICOFoxweb 8080
KillMode=control-group
User=picouser
Group=picouser

[Install]
WantedBy=multi-user.target
